* {
	--font-size: calc((var(--pixels) / 16) * 1);
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.main-content {
	display: flex;
	flex-direction: column;
}
.planet-img {
	position: relative;
	display: inline-block;
	width: auto;
	height: 270px;
	margin: 0 auto;
}

.planet-img img {
	position: absolute;
	/* height: calc()
	width: var(--planet-size); */
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.planet-img .planet-geo-img {
	/* position: absolute;
	height: 199px;
	width: 163px;
	bottom: -70px;
	left: 220px; */
	position: absolute;
	height: 132px;
	width: auto;
	top: 200px;
}

.mobile-info-selection {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	margin-right: 10px;
	padding-top: 10px;
	border-bottom: thin solid rgba(255, 255, 255, 0.5);
}

.btn {
	display: flex;
	flex-direction: row;
	background-color: transparent;
	cursor: pointer;
	color: white;
	letter-spacing: 2px;
	padding-bottom: 10px;
	border: rgba(255, 255, 255, 0.5);
	z-index: 100;
}
.btn p {
	padding-left: 9px;
	font-family: 'League Spartan', sans-serif;
	/* font-size: 9px; */
	--pixels: 9;
	font-size: var(--font-size);
	line-height: 10px;
	font-weight: 700;
	font-style: normal;
	opacity: 0.5;
}

.btn-selected p {
	padding-left: 9px;
	font-family: 'League Spartan', sans-serif;
	/* font-size: 9px; */
	--pixel: 9;
	font-size: var(--font-size);
	line-height: 10px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 2px;
	color: white;
	opacity: 0.8;
}

.btn-selected {
	display: flex;
	flex-direction: row;
	border-bottom: 4px solid var(--selector-color);

	cursor: pointer;
}

.planet-information {
	margin-left: 10px;
	margin-right: 20px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 330px;
	margin: 0 auto;
}

.planet-information h1 {
	font-family: 'Antonio', sans-serif;
	font-weight: 400;
	/* font-size: 40px; */

	text-align: center;
}

.planet-information p {
	text-align: center;
	font-family: 'League Spartan', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	color: white;
	line-height: 22px;
	word-wrap: break-word;
}

.planet-stats-bottom {
	width: 327px;
	margin: 0 auto;
}

.box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	width: 327px;
	margin-top: 5px;

	border: rgba(255, 255, 255, 0.5);
	border-width: thin;
	margin-bottom: 16px;
	border-style: solid;
	font-family: 'League Spartan', sans-serif;
	font-style: normal;
	color: white;
}

.box h5 {
	opacity: 0.5;
	font-size: 8px;
	line-height: 25px;
	padding: 0;
	padding-left: 23px;
	color: white;
}

.box h2 {
	font-size: 20px;
	line-height: 26px;
	letter-spacing: -1.5px;
	padding-right: 20px;
	margin: 0;
}

.source {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	font-family: 'League Spartan', sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-style: normal;
	margin: 0 auto;
}
.source p {
	opacity: 0.5;
}
.source a {
	text-transform: none;
	text-decoration: underline;
	opacity: 0.5;
	padding-left: 4px;
}

.source img {
	padding-left: 4px;
	align-self: center;
}
